<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.spc.spcfitsdk.plugin"
        version="0.0.7">

    <name>SPCFit</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/SPCFit.js" target="js/SPCFit.js"/>

    <js-module src="www/SPCFit.js" name="SPCFit">
        <clobbers target="SPCFit" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SPCFit">
                <param name="android-package" value="com.spc.spcfitsdk.plugin.SPCFit"/>
            </feature>
        </config-file>
        <source-file src="src/android/classes.jar" target-dir="libs" />
        <source-file src="src/android/SPCFit.java" target-dir="src/com/spc/spcfitsdk/plugin/"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SPCFit">
                <param name="ios-package" value="SPCFit" />
            </feature>
        </config-file>

        <header-file src="src/ios/SPCFit.h" target-dir="SPCFitPlugin"/>
        <source-file src="src/ios/SPCFit.m" target-dir="SPCFitPlugin"/>

        <header-file src="src/ios/ActivityTracker.h" target-dir="SPCFitPlugin"/>
        <header-file src="src/ios/ActivityTrackerDelegate.h" target-dir="SPCFitPlugin"/>
        <header-file src="src/ios/ActivityTrackerManager.h" target-dir="SPCFitPlugin"/>
        <header-file src="src/ios/SleepQualityDetailData.h" target-dir="SPCFitPlugin"/>
        <source-file src="src/ios/libSPCFitSDK.a" target-dir="SPCFitPlugin" framework="true" />
        <!--<source-file src="src/ios/ActivityTrackerManager.m" target-dir="SPCFitPlugin"/>
        <source-file src="src/ios/ActivityTracker.m" target-dir="SPCFitPlugin"/>
        <source-file src="src/ios/SleepQualityDetailData.m" target-dir="SPCFitPlugin"/>-->
    </platform>

</plugin>
